<%= form_with model: @article, local: true do |form| %>
 <!--Checking Validation of input in the fields-->
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<!--Checking Validation of input in the fields ends here-->

  <p>
  
    <%= form.label :title, 'Title'%><br>
    <%= form.text_field :title, class: "form-control" %>
  </p>
 
  <p>
    <%= form.label :text, 'Description'%><br>
    <%= form.text_area :text, class: "form-control" %>
  </p>

  <p>
    <%= form.label :text , 'Upload Article Picture' %><br>
    <%= form.file_field :image %>
  </p>
 
  <p>
    <%= form.button "Create Article", class: "btn btn-primary" %>
  </p>
 
<% end %>



 
  
 
